<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security
         http://www.springframework.org/schema/security/spring-security.xsd">
  
  <!--
    1、设置放行资源，如登录注册页面，静态资源css、js等等
        security="none" 设置此资源不被拦截.
    -->
  <http pattern="/login.html" security="none"></http>
  <http pattern="/css/**" security="none"></http>
  <http pattern="/img/**" security="none"></http>
  <http pattern="/js/**" security="none"></http>
  <http pattern="/plugins/**" security="none"></http>
  
</b:beans>