<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webmagic.mapper.DataAndCodeMapper" >
  <resultMap id="BaseResultMap" type="com.webmagic.model.DataAndCode" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="download_count" property="downloadCount" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from data_and_code
    where `id` = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.webmagic.model.DataAndCode" >
    insert into data_and_code (`id`, `title`, `type`, 
      `file_url`, `download_count`, `create_time`
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{downloadCount,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.webmagic.model.DataAndCode" >
    update data_and_code
    set `title` = #{title,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      `file_url` = #{fileUrl,jdbcType=VARCHAR},
      `download_count` = #{downloadCount,jdbcType=BIGINT},
      `create_time` = #{createTime,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select `id`, `title`, `type`, `file_url`, `download_count`, `create_time`
    from data_and_code
    where `id` = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `id`, `title`, `type`, `file_url`, `download_count`, `create_time`
    from data_and_code
  </select>
</mapper>