<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webmagic.mapper.HomepageMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.webmagic.model.Homepage">
        <id column="id" property="id" />
        <result column="swiper_img1" property="swiperImg1" />
        <result column="swiper_img2" property="swiperImg2" />
        <result column="swiper_img3" property="swiperImg3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, swiper_img1, swiper_img2, swiper_img3
    </sql>

</mapper>
