<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webmagic.mapper.InstituteInformationMapper" >
  <resultMap id="BaseResultMap" type="com.webmagic.model.InstituteInformation" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="main_img" property="mainImg" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from institute_information
    where `id` = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.webmagic.model.InstituteInformation" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into institute_information (`id`, `news_title`, `summary`, 
      `content`, `main_img`)
    values (#{id,jdbcType=CHAR}, #{newsTitle,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{mainImg,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.webmagic.model.InstituteInformation" >
    update institute_information
    set `news_title` = #{newsTitle,jdbcType=VARCHAR},
      `summary` = #{summary,jdbcType=VARCHAR},
      `content` = #{content,jdbcType=VARCHAR},
      `main_img` = #{mainImg,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select `id`, `news_title`, `summary`, `content`, `main_img`
    from institute_information
    where `id` = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `id`, `news_title`, `summary`, `content`, `main_img`
    from institute_information
  </select>
</mapper>