<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webmagic.mapper.SysConfigMapper" >
  <resultMap id="BaseResultMap" type="com.webmagic.dto.SysConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="file_save_position" property="fileSavePosition" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_config
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.webmagic.dto.SysConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_config (`file_save_position`)
    values (#{fileSavePosition,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.webmagic.dto.SysConfig" >
    update sys_config
    set `file_save_position` = #{fileSavePosition,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select `id`, `file_save_position`
    from sys_config
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `id`, `file_save_position`
    from sys_config
  </select>
</mapper>