<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webmagic.mapper.SysLoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.webmagic.model.SysLoginLog" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="seq_id" property="seqId" jdbcType="CHAR" />
    <result column="login_id" property="loginId" jdbcType="CHAR" />
    <result column="login_at" property="loginAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_login_log
    where `id` = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.webmagic.model.SysLoginLog" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_login_log (`id`, `seq_id`, `login_id`, `login_at`
      )
    values (#{id,jdbcType=CHAR}, #{seqId,jdbcType=CHAR}, #{loginId,jdbcType=CHAR}, #{loginAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.webmagic.model.SysLoginLog" >
    update sys_login_log
    set `seq_id` = #{seqId,jdbcType=CHAR},
      `login_id` = #{loginId,jdbcType=CHAR},
      `login_at` = #{loginAt,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select `id`, `seq_id`, `login_id`, `login_at`
    from sys_login_log
    where `id` = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `id`, `seq_id`, `login_id`, `login_at`
    from sys_login_log
  </select>
</mapper>