<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webmagic.mapper.UserLoginMapper" >
  <resultMap id="BaseResultMap" type="com.webmagic.model.UserLogin" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="seq_id" property="seqId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="error_count" property="errorCount" jdbcType="BIT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_login
    where `id` = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.webmagic.model.UserLogin" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_login (`id`, `seq_id`, `user_id`, `login_name`, 
      `pwd`, `error_count`, `create_at`, 
      `update_at`)
    values (#{id,jdbcType=CHAR}, #{seqId,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{errorCount,jdbcType=BIT}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.webmagic.model.UserLogin" >
    update user_login
    set `seq_id` = #{seqId,jdbcType=CHAR},
      `user_id` = #{userId,jdbcType=CHAR},
      `login_name` = #{loginName,jdbcType=VARCHAR},
      `pwd` = #{pwd,jdbcType=VARCHAR},
      `error_count` = #{errorCount,jdbcType=BIT},
      `create_at` = #{createAt,jdbcType=TIMESTAMP},
      `update_at` = #{updateAt,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select `id`, `seq_id`, `user_id`, `login_name`, `pwd`, `error_count`, `create_at`, 
    `update_at`
    from user_login
    where `id` = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `id`, `seq_id`, `user_id`, `login_name`, `pwd`, `error_count`, `create_at`, 
    `update_at`
    from user_login
  </select>
</mapper>