<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:security="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans.xsd
                             http://www.springframework.org/schema/security
                             http://www.springframework.org/schema/security/spring-security.xsd">
  
  <!--
    1、设置放行资源，如登录注册页面，静态资源css、js等等
        security="none" 设置此资源不被拦截.
    -->
  <security:http pattern="/login" security="none" />
  
  <security:http auto-config="true" use-expressions="true">
    <security:form-login
      login-page="/login"
      login-processing-url="/j_spring_security_check"
      username-parameter="username"
      password-parameter="password"
      authentication-success-handler-ref="authenticationSuccessHandlerImpl"
      authentication-failure-handler-ref="authenticationFailureHandlerImpl"
    />
    <security:logout
      logout-success-url="/login"
      logout-url="/logout"
      invalidate-session="true"
      delete-cookies="JSESSIONID"
    />
    <security:intercept-url pattern="/**" access="isAuthenticated()"/>
    <security:intercept-url pattern="/sys" access="hasRole('ROLE_ADMIN')"/>
    <security:access-denied-handler error-page="/error/403" />
    
  </security:http>
  
  
  <!-- 认证成功后的处理类 -->
  <bean id="authenticationSuccessHandlerImpl" class="com.admin.security.AuthenticationSuccessHandlerImpl"/>
  <!-- 认证失败后的处理类 -->
  <bean id="authenticationFailureHandlerImpl" class="com.admin.security.AuthenticationFailureHandlerImpl"/>
  
  <security:authentication-manager>
    <security:authentication-provider user-service-ref="userDetailsServiceImpl">
      <security:password-encoder ref="myMessageDigestPasswordEncoder"/>
    </security:authentication-provider>
  </security:authentication-manager>
  
  <bean id="myMessageDigestPasswordEncoder" class="com.admin.security.MyMessageDigestPasswordEncoder">
    <constructor-arg name="algorithm" value="md5"/>
  </bean>
  
  <bean id="userDetailsServiceImpl" class="com.admin.security.UserDetailsServiceImpl"></bean>
 
  
</beans>